* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(179, 177, 177);
    display: block;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

.box {
    position: relative;
    border: 5px solid red;
    background: none;
}

.clock-housing {
    background: black;
    padding: 50px;
}