* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(179, 177, 177);
    display: block;
}

header {
    text-align: center;
    padding: 12.5px 0px;
}

footer {
    text-align: center;
}

.box {
    position: relative;
    /* border: 5px solid red; */
    background: none;
    height: 80vh;
}

.clock-housing {
    background: black;
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
}

.clock-display-box {
    background: rgb(96, 88, 88);
    height: 75%;
}

.button-box {
    background: rgb(54, 50, 50);
    border-top: 5px solid black;
    padding: 10px;
    height: 25%;
    width: 100%;
}

.button-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

button {
    flex-grow: 1;
    height: 90%;
    outline: none;
    border-radius: 5%;
    font-size: 200%;
    background: grey;
    text-align: center;
}

button:hover {
    background: rgb(102, 102, 102);
}

button:active {
    background: rgb(83, 83, 83);
    transform: translateY(4px);
}

.clock-digital-display {
    background: rgb(54, 50, 50);
    padding: 50px;
    width: 100%;
    position: absolute;
}