* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(179, 177, 177);
    display: block;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

.box {
    position: relative;
    border: 5px solid red;
    background: none;
    height: 90vh;
}

.clock-housing {
    background: black;
    border: 1px solid white;
    height: 100%;
    width: 100%;
}

.clock-display-box {
    background: rgb(96, 88, 88);
    height: 75%;
}

.button-box {
    background: rgb(54, 50, 50);
    border-top: 5px solid black;
    height: 25%;
    width: 100%;
}